[Unit]
Description=SICK

[Service]
WorkingDirectory=/usr/sbin/SICK_Program
Type=simple
ExecStart=/usr/sbin/SICK_Program/Sick-test
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target